venv/
.env
*.pyc
.vscode/
.DS_Store
.coverage
.pytest_cache/
__pycache__/
*.log
media/
node_modules/
pytest.ini
.idea/
credentials.json
ngrok
token.json
.flake8
staticfiles/
celerybeat-schedule.db
celerybeat.pid
data.csv
dump.rdb
